@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --clean_background_day: #f5FAFF;
  --clean_primary_day: #2176FF;
  --clean_accent_day: #2D2D2D;
  --clean_highlight_day: #00BCD4;
  --friendly_background_day: #ECF4FF;
  --friendly_primary_day: #1E3A8A;
  --friendly_accent_day: #0EA5E9;
  --friendly_highlight_day: #38BDF8;
  --modern_background_night: #0F172A;
  --modern_primary_night: #38BDF8;
  --modern_accent_night: #E2E8F0;
  --modern_highlight_night: #3B82F6;
  --dark_red: #B2120D;
  --montserrat: 'Montserrat', sans-serif;
  --lato: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input[type="text"] {
  color: var(--clean_accent_day);
  font-family: var(--montserrat);
  font-size: 1.6rem;
  padding-left: 1rem;
}

textarea {
  color: var(--clean_accent_day);
  font-family: var(--montserrat);
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

body {
  position: relative;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  background-image: url('/assets/body_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}


.page_container {
}

main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 100vw;
  padding-inline: 4rem;
  padding-bottom: 12rem;
}

.glass_container {
  display: grid;
  margin-top: 10rem;
  width: 100%;
  height: 100%;
  min-width: 36rem;
  min-height: 60rem;
  background: rgba(15, 23, 42, .4);
  /* border: 1px solid rgb(15, 23, 42); */
  border-radius: 2rem;
  padding-inline: 4rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: inset 0 2px 5px rgba(59, 130, 246, 0.4);
}

.glass_container .breadcrumb_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: end;
    font-family: var(--montserrat);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--modern_accent_night);
    /* grid-area: breadcrumbs; */
}

.former_page {
  color: var(--modern_accent_night);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.former_page:hover {
  color: var(--modern_highlight_night);
}

.separator {
  color: var(--modern_accent_night);
}

.current_page {
  color: var(--modern_highlight_night);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.former_page:hover .current_page {
  color: var(--modern_accent_night);
}

.scrollbar-container {
    max-height: 60rem;
    overflow: auto;
    position: relative;
}

.scrollbar-container .os-scrollbar-vertical {
    width: 12px;
    right: -2px;
    margin-block: 4rem;
}

.scrollbar-container .os-scrollbar-vertical .os-scrollbar-handle {
    background: var(--modern_accent_night);
    border-radius: 4px;
    max-height: 6rem;
    cursor: pointer;
}

@media screen and (min-width: 40rem) {
  .glass_container {
    min-height: 85vh;
    padding-inline: 4rem;
    max-width: 120rem;
  }

  main {
    padding-bottom: 0;
  }
}
