.glass_container.glass_contact {
    grid-template-rows: 10rem 1fr 1fr;
    grid-template-areas: "breadcrumbs" "contact_info" "mission_statement";
}

.contact_info_container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: start;
    grid-area: contact_info;
    gap: 6rem;
    font-family: var(--lato);
    color: var(--modern_accent_night);
    font-size: 1.6rem;
    margin-top: 6rem;
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.phone_container svg {
    width: 3rem;
    height: 3rem;
}

.phone_container svg path {
    stroke-width: 1rem;
}

.phone_number,
.email_address {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.email_container svg {
    width: 3.4rem;
    height: 2.5rem;
}

.phone_number:hover,
.email_address:hover {
    color: var(--modern_primary_night);
}

.mission_statement {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: mission_statement;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--modern_accent_night);
    text-align: left;
    line-height: 2rem;
    margin-top: 6rem;
}

@media screen and (min-width: 35rem) {
    .mission_statement {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 40rem) {
    .glass_container.glass_contact {
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 2fr 1fr;
        /* gap: 1rem; */
    }

    .glass_container.glass_contact .breadcrumb_container {
        justify-self: start;
    }

    .contact_info_container {
        margin-top: unset;
        font-size: 2.4rem;
        gap: 6rem;
    }

    .info_container {
        flex-direction: row;
        align-items: center;
        gap: 6rem;
    }

    .phone_container svg {
        width: 5rem;
        height: 5rem;
    }

    .phone_container svg path {
        stroke-width: .6rem;
    }

    .email_container {
        
    }

    .email_container svg {
        width: 5rem;
        height: 5rem;
    }   

    .email_container svg path {
        
    }

    .mission_statement {
        display: flex;
        flex-direction: column;
        margin-top: unset;
        font-size: 2rem;
        line-height: 3rem;
        text-align: left;
        gap: 1.5rem;
    }
}
