.glass_login {
    width: 100%;
    grid-template-areas: "header" "inputs";
    grid-template-rows: 10rem 2fr;
}

.login_header {
    /* margin-top: 10rem; */
    align-self: end;
    font-size: 2.4rem;
    font-family: var(--montserrat);
    font-weight: bold;
    color: var(--modern_highlight_night);
    text-align: center;
    grid-area: header;
    /* border: 1px solid white; */
}

.login_inputs {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 1px solid white; */
    gap: 4rem;
    grid-area: inputs;
}

.login_inputs .username_login {
    margin-top: 8rem;
}

.login_inputs div:nth-child(2) {
    margin-bottom: 6rem;
}

.login_inputs .username_login,
.login_inputs .password_login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.login_inputs .username_login label,
.login_inputs .password_login label {
    font-family: var(--lato);
    color: var(--modern_accent_night);
    font-size: 1.6rem;
}

.login_inputs .username_login input,
.login_inputs .password_login input {
    width: 100%;    
    max-width: 32rem;
    border: none;
    min-height: 4rem;
    border-radius: .8rem;
}

.login_inputs button[type="submit"] {
    min-height: 5rem;
    min-width: 14rem;
    background: #38BDF8;
    font-family: var(--lato);
    font-weight: 700;
    font-size: 2rem;
    border-radius: .8rem;
    border: none;
    color: #0F172A;
    align-self: center;
    cursor: pointer;
}

@media screen and (min-width: 40rem) {

    .glass_login {
        grid-template-areas: "header svg" "inputs svg";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20rem 1fr;
        /* align-items: center; */
        justify-content: center;
        padding-bottom: 4rem;
    }

    .login_header {
        font-weight: bold;
        font-size: 4.8rem;
        align-self: end;
        /* margin-block: 12rem 8rem; */
    }

    .login_inputs {
        margin-top: 6rem;
        gap: 4rem;
    }

    .login_inputs .username_login {
        margin-top: unset;
    }

    .login_inputs div:nth-child(2) {
        margin-bottom: 4rem;
    }

    .login_inputs .username_login,
    .login_inputs .password_login {
        gap: 2rem;
    }

    .login_inputs .username_login label,
    .login_inputs .password_login label {
        font-size: 2.4rem;
    }

    .login_inputs .username_login input,
    .login_inputs .password_login input {
        min-height: 5rem;
    }

    .login_inputs button[type="submit"] {

    }
}