.nav {
    display: flex;
    min-height: 6rem;
    min-width: 100vw;
    padding-inline: 4rem;
    padding-block: .7rem;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    background-color: var(--modern_background_night);
}

.portfolio_icon {
    width: 4.8rem;
    height: 4.6rem;
    flex: 0 1 auto;
}

.identifier {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: .5rem;
    flex:  1 1 auto;
}

.identifier .nav_name {
    color: var(--clean_background_day);
    font-family: var(--montserrat);
    font-size: 1.2rem;
    font-weight: bold;
}

.identifier .nav_role {
    color: var(--clean_background_day);
    font-family: var(--lato);
    font-size: 1.2rem;
}

.desktop_social_container {
    display: none;
}

@media screen and (min-width: 40rem) {
    .desktop_social_container {
        display: flex;
        justify-content: end;
        gap: 10%;
        flex: 1 1 auto;
    }

    .desktop_social_container .social_icon {
        cursor: pointer;
        display: flex;
        min-width: 4rem;
        min-height: 4rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(15, 23, 42, .4);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: inset 0 2px 3px var(--modern_primary_night),
                    0 1px 2px var(--modern_primary_night);
    }
}