.glass_container.glass_skills {
    max-height: 60rem;
    overflow-x: hidden;
    color: var(--modern_accent_night);
    padding-inline: 2rem;
    scrollbar-width: none;
}

.skills_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem repeat(3, 1fr);
    grid-template-areas: "breadcrumbs" "tools" "strengths" "achievements";
    gap: 10rem;
    /* align-items: center; */
    padding-inline: 2rem;
    padding-bottom: 19rem;
}

.scrollbar-container .breadcrumb_container {
    /* border: 1px solid red; */
    align-self: end;
    font-family: var(--montserrat);
    font-size: 1.6rem;
    font-weight: bold;
    grid-area: breadcrumbs;
}

.glass_skills h1 {
    font-family: var(--montserrat);
    color: var(--modern_highlight_night);
}

.tools_container,
.strengths_container,
.achievements_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.tools,
.strengths,
.achievements {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    font-family: var(--lato);
    color: var(--modern_accent_night);
    font-size: 1.6rem;
}

.tools_container {
    grid-area: tools;
}

.strengths_container {
    grid-area: strengths;
}

.achievements_container {
    grid-area: achievements;
}

.achievements {
    line-height: 2.5rem;
}

.chart-container {
    display: none;
    background: transparent;
    grid-area: chart;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.my-bar-chart {
    /* border: 1px solid #ddd; */
}

.grid-lines {
    stroke: var(--modern_accent_night);
}

.x-axis text,
.y-axis text {
    font-size: 1.2rem;
}

.tooltip-box {
    font-size: 1.2rem;
    color: var(--modern_background_night);
}

.my-bar {
    transition: fill 0.3s;
}

.my-bar {
    fill: var(--friendly_accent_day);
}

.my-bar:hover {
    fill: var(--modern_background_night);
}

.recharts-bar-rectangle:hover {
    fill: none;
    stroke: none;
}

@media screen and (min-width: 40rem) {
    .glass_container.glass_skills {
        overflow-y: hidden;
    }

    .skills_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10rem repeat(2, 1fr);
        grid-template-areas: "breadcrumbs breadcrumbs" "tools strengths" "achievements chart";
        gap: 4rem;
        align-items: unset;
    }

    .scrollbar {
        max-height: unset;
    }

    .scrollbar-container {
        max-height: unset;
    }

    .scrollbar .os-scrollbar-vertical {
        display: none;
    }

    .scrollbar-container .breadcrumb_container {
        justify-self: start;
    }


    .tools_container,
    .achievements_container {
        margin-left: 6rem;
        align-items: start;
    }

    .strengths_container {
        align-items: end;
        margin-right: 10rem;
    }

    .tools,
    .achievements {
        text-align: left;
        align-items: start;
        padding-left: 4rem;
        /* border: 1px solid red; */
    }

    .strengths {
        padding-right: 4rem;
        text-align: left;
        align-items: end;
    }

    .chart-container {
        display: block;
    }
}